<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
</head>
<body>

    <h1>Blog</h1>

    <h2>Some title 1</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum dolores, iste molestiae ullam enim omnis assumenda et eos magnam qui autem quia ex, illum porro illo soluta. Amet, culpa eveniet?</p>
    <hr />

    <h2>Some title 1</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum dolores, iste molestiae ullam enim omnis assumenda et eos magnam qui autem quia ex, illum porro illo soluta. Amet, culpa eveniet?</p>
    <hr />

    <h2>Some title 1</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum dolores, iste molestiae ullam enim omnis assumenda et eos magnam qui autem quia ex, illum porro illo soluta. Amet, culpa eveniet?</p>
    <hr />

    <h2>Some title 1</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum dolores, iste molestiae ullam enim omnis assumenda et eos magnam qui autem quia ex, illum porro illo soluta. Amet, culpa eveniet?</p>
    <hr />
    
</body>
</html>